<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Welcome to Global Pool</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            
            <!-- row 1 start -->
            <div class="col-md-6 col-xl-3">
                <div class="card widget-statstic-card">
                    <div class="card-body">
                        <div class="card-header-left mb-3">
                            <h5 class="mb-0">All Users</h5>
                            <p class="p-t-10 m-b-0 text-c-yellow">Number of participants in the system</p>
                        </div>
                        <i class="feather icon-users st-icon bg-c-yellow"></i>
                        <div class="text-left">
                            <h3 id="totalUsers" class="d-inline-block"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card widget-statstic-card">
                    <div class="card-body">
                        <div class="card-header-left mb-3">
                            <h5 class="mb-0">Total TRX</h5>
                            <p class="p-t-10 m-b-0 text-c-blue">TRX earned by all users</p>
                        </div>
                        <i class="feather icon-sliders st-icon bg-c-green"></i>
                        <div class="text-left">
                            <h3 id="totalEth" class="d-inline-block"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-3">
                <div class="card widget-statstic-card">
                    <div class="card-body">
                        <div class="card-header-left mb-3">
                            <h5 class="mb-0">Total USD</h5>
                            <p class="p-t-10 m-b-0 text-c-yellow">Total USD earned by all users</p>
                        </div>
                        <i class="feather icon-credit-card st-icon bg-c-yellow"></i>
                        <div class="text-left">
                            <h3 id="totalUSD" class="d-inline-block"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row 1 end -->

            <!-- row 2  start -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xl-2">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-body">
                                <h6 class="text-white">Earned TRX</h6>
                                <h2 id="earnedEth" class="text-white"></h2>
                                <i class="card-icon feather icon-filter"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2">
                        <div class="card bg-c-blue order-card">
                            <div class="card-body">
                                <h6 class="text-white">Earned USD</h6>
                                <h2 id="earnedUSD" class="text-white">486</h2>
                                <i class="card-icon feather icon-plus-square"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2">
                        <div class="card bg-c-red order-card">
                            <div class="card-body">
                                <h6 class="text-white">Direct Referrals</h6>
                                <h2 id="directReferrals" class="text-white"></h2>
                                <i class="card-icon feather icon-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row 2  end -->

            <div class="col-md-12">
                <h4 class="text-center">Your Packages</h4>
                <hr>
            </div>
            <!-- Level start -->
            <div class="col-md-12">
                <div class="row">

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level1" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 1</h4>
                                <h4 class="m-t-15 m-b-15 price">20 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level1Buy">Buy</button>
                                <p class="">N/A</p>
                                <h6>Earned <span class="earnings">0</span>/<span>40</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level2" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 2</h4>
                                <h4 class="m-t-15 m-b-15 price">40 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level2Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>72</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level3" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 3</h4>
                                <h4 class="m-t-15 m-b-15">60 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level3Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>162</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level4" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 4</h4>
                                <h4 class="m-t-15 m-b-15">100 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level4Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>270</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level5" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 5</h4>
                                <h4 class="m-t-15 m-b-15">160 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level5Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>432</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level6" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 6</h4>
                                <h4 class="m-t-15 m-b-15">260 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level6Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>663</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level7" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 7</h4>
                                <h4 class="m-t-15 m-b-15">420 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level7Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>1071</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level8" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 8</h4>
                                <h4 class="m-t-15 m-b-15">680 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level8Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>1734</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level9" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 9</h4>
                                <h4 class="m-t-15 m-b-15">1100 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level9Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>2805</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level10" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 10</h4>
                                <h4 class="m-t-15 m-b-15">1780 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level10Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>4539</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level11" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 11</h4>
                                <h4 class="m-t-15 m-b-15">2880 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level11Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>6912</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level12" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 12</h4>
                                <h4 class="m-t-15 m-b-15">4660 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level12Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>11184</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level13" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 13</h4>
                                <h4 class="m-t-15 m-b-15">7540 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level13Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>18096</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level14" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 14</h4>
                                <h4 class="m-t-15 m-b-15">12200 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level14Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>29280</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level15" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 15</h4>
                                <h4 class="m-t-15 m-b-15">19740 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level15Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>47376</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-12">
                        <div id="level16" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">POOL 16</h4>
                                <h4 class="m-t-15 m-b-15">31940 TRX</h5>
                                <p class="status">Inactive</p>
                                <button id="level16Buy">Buy</button>
                                <p class="direct-referrals">No direct referral</p>
                                <h6>Earned <span class="earnings">0</span>/<span>76656</span> TRX</h6>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            <!-- Level end -->
            <div class="col-md-12">
                <h5 class="text-center" style="color: brown;">Upgrade to the next package as soon 
                    as possible so as not to LOSE your DOWNLINE'S payment</h5>
            </div>
           
            
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- Button trigger modal -->