<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Welcome to TripleTron</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            
            <!-- row 1 start -->
            <div class="col-md-6 col-xl-3">
                <div class="card widget-statstic-card">
                    <div class="card-body">
                        <div class="card-header-left mb-3">
                            <h5 class="mb-0">All Users</h5>
                            <p class="p-t-10 m-b-0 text-c-yellow">Number of participants in the system</p>
                        </div>
                        <i class="feather icon-users st-icon bg-c-yellow"></i>
                        <div class="text-left">
                            <h3 id="totalUsers" class="d-inline-block"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card widget-statstic-card">
                    <div class="card-body">
                        <div class="card-header-left mb-3">
                            <h5 class="mb-0">New Users</h5>
                            <p class="p-t-10 m-b-0 text-c-red">Joined in the last 24 hours</p>
                        </div>
                        <i class="feather icon-user-plus st-icon bg-c-red txt-lite-color"></i>
                        <div class="text-left">
                            <h3 id="totalDay" class="d-inline-block"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card widget-statstic-card">
                    <div class="card-body">
                        <div class="card-header-left mb-3">
                            <h5 class="mb-0">Total TRX</h5>
                            <p class="p-t-10 m-b-0 text-c-blue">TRX earned by all users</p>
                        </div>
                        <i class="feather icon-sliders st-icon bg-c-green"></i>
                        <div class="text-left">
                            <h3 id="totalEth" class="d-inline-block"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-3">
                <div class="card widget-statstic-card">
                    <div class="card-body">
                        <div class="card-header-left mb-3">
                            <h5 class="mb-0">Total USD</h5>
                            <p class="p-t-10 m-b-0 text-c-yellow">Total USD earned by all users</p>
                        </div>
                        <i class="feather icon-credit-card st-icon bg-c-yellow"></i>
                        <div class="text-left">
                            <h3 id="totalUSD" class="d-inline-block"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row 1 end -->

            <!-- row 2  start -->
            <div class="col-md-12 col-xl-10">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-body">
                                <h6 class="text-white">Earned TRX</h6>
                                <h2 id="earnedEth" class="text-white"></h2>
                                <i class="card-icon feather icon-filter"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="card bg-c-blue order-card">
                            <div class="card-body">
                                <h6 class="text-white">Earned USD</h6>
                                <h2 id="earnedUSD" class="text-white">486</h2>
                                <i class="card-icon feather icon-plus-square"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="card bg-c-green order-card">
                            <div class="card-body">
                                <h6 class="text-white">Team Members/24hrs</h6>
                                <h2 id="partnersUser" class="text-white"></h2>
                                <i class="card-icon feather icon-users"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="card bg-c-red order-card">
                            <div class="card-body">
                                <h6 class="text-white">Current Level</h6>
                                <h2 id="idLevel" class="text-white"></h2>
                                <i class="card-icon feather icon-bar-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row 2  end -->

            <div class="col-md-12">
                <h4 class="text-center">Your Level</h4>
                <hr>
            </div>
            <!-- Level start -->
            <div class="col-md-12">
                <div class="row">

                    <div class="col-xl-4 col-md-6">
                        <div id="level1" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">LEVEL 1</h4>
                                <h4 class="m-t-15 m-b-15">100 TRX</h5>
                                <p>Inactive</p>
                                <button id="level1Buy">Buy</button>
                                <p class="expire m-b-0">Buy to activate</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div id="level2" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">LEVEL 2</h4>
                                <h4 class="m-t-15 m-b-15">500 TRX</h5>
                                <p>Inactive</p>
                                <button id="level2Buy">Buy</button>
                                <p class="expire m-b-0">Buy to activate</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div id="level3" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">LEVEL 3</h4>
                                <h4 class="m-t-15 m-b-15">1000 TRX</h5>
                                <p>Inactive</p>
                                <button id="level3Buy">Buy</button>
                                <p class="expire m-b-0">Buy to activate</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div id="level4" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">LEVEL 4</h4>
                                <h4 class="m-t-15 m-b-15">3000 TRX</h5>
                                <p>Inactive</p>
                                <button id="level4Buy">Buy</button>
                                <p class="expire m-b-0">Buy to activate</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div id="level5" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">LEVEL 5</h4>
                                <h4 class="m-t-15 m-b-15">10000 TRX</h5>
                                <p>Inactive</p>
                                <button id="level5Buy">Buy</button>
                                <p class="expire m-b-0">Buy to activate</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div id="level6" class="card text-center order-visitor-card">
                            <div class="card-body">
                                <h6 class="m-b-0">LEVEL 6</h4>
                                <h4 class="m-t-15 m-b-15">30000 TRX</h5>
                                <p>Inactive</p>
                                <button id="level6Buy">Buy</button>
                                <p class="expire m-b-0">Buy to activate</p>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            <!-- Level end -->
            <div class="col-md-12">
                <h5 class="text-center" style="color: brown;">Upgrade your next level as soon 
                    as possible so as not to LOSE your DOWNLINE'S payment</h5>
            </div>
           
            
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- Button trigger modal -->