<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard - TripleTron</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="TripleTron" />
    <!-- Favicon icon -->
    <link rel="icon" href="/static/icon.png" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    
    

</head>
<body id="wrapper" class="background-img-2">
    
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar navbar-dark">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
                
                <div class="">
					<div class="main-menu-header">
                        <h4 class="well" style="color: white;">Your ID: <span class="idNum"></span></h4>
                        <hr/>
					</div>
                </div>
                
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
                    
                    
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link ">
                            <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/team" class="nav-link ">
                            <span class="pcoded-micon">
                            <i class="feather icon-share-2"></i>
                        </span>
                        <span class="pcoded-mtext">Team Members</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/upline" class="nav-link ">
                            <span class="pcoded-micon">
                            <i class="feather icon-users"></i>
                        </span>
                        <span class="pcoded-mtext">Upline</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/lost" class="nav-link ">
                            <span class="pcoded-micon">
                            <i class="feather icon-alert-octagon"></i>
                        </span>
                        <span class="pcoded-mtext">Missed Profits</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="logoutClick(); return false;">
                            <span class="pcoded-micon">
                            <i class="feather icon-log-out"></i>
                        </span>
                        <span class="pcoded-mtext">Logout</span></a>
                    </li>

                </ul>

                <div class="card text-center">
					<div class="card-block" id="affLink">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<i class="feather icon-sunset f-40"></i>
						<h6 class="mt-3">Referral Link</h6>
						<p>https://www.tripletron.com/?refId=1</p>
					</div>
                </div>
                
                <div class="card text-center">
					<div class="card-block wallet-box">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<i class="feather icon-credit-card f-40"></i>
                        <h6 class="mt-3">Your Tron wallet</h6>
                        <p></p>
                        <div class="copy-sec">
                            <span title="copy" class="feather icon-copy"></span> 
                            <a target="_blank" class="btn btn-primary btn-sm text-white m-0">To Tronscan</a>
                        </div>
					</div>
				</div>
                
                <div class="card text-center mb-5">
					<div class="card-block address-box">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<i class="feather feather icon-link f-40"></i>
                        <h6 class="mt-3">Smart Contract Address</h6>
                        <p></p>
                        <div class="copy-sec">
                            <span title="copy" class="feather icon-copy"></span> 
                            <a target="_blank" class="btn btn-primary btn-sm text-white m-0">To Tronscan</a>
                        </div>
					</div>
				</div>
                
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
		
			
				<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
					<a href="#!" class="b-brand">
                        <!-- ========   change your logo hear   ============ -->
                        
                        <img src="/static/img/logo.png" alt="" class="logo" style="height: 35px;">
						<img src="/static/img/icon.png" alt="" class="logo-thumb" style="height: 35px;">
					</a>
					<a href="#!" class="mob-toggler">
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li>
							<div class="dropdown drp-user">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="feather icon-user"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right profile-notification">
									<div class="pro-head">
										<span>Your ID: <i class="idNum"></i></span>
										<a href="#!" class="dud-logout logoutBtn" title="Logout" onclick="logoutClick(); return false;">
											<i class="feather icon-log-out"></i>
										</a>
									</div>
									<ul class="pro-body">
										<li><a href="/dashboard" class="dropdown-item"><i class="feather icon-home"></i> Dashboard</a></li>
										<li><a href="/team" class="dropdown-item"><i class="feather icon-users"></i> My Team</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			
	</header>
	<!-- [ Header ] end -->
	
    {{.LayoutContent}}
    
    
<div id="fade" class="well" style="background-color: white; padding: 5px;">
	<button class="fade_close popup_close">x</button>
	<span></span>
</div>
<div id="fadeLoading" class="well" style="background-color: white; padding: 5px;">
	<span></span>
	<img class="loading_image" src="/static/assets/images/loader.svg"  alt="loading"/>
</div>

<!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/static/assets/js/ripple.js"></script>
    <script src="/static/assets/js/pcoded.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script
    src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>

<script src="/static/app/tronweb.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>
<script src="/static/app/common.js"></script>
<script src="{{.Script}}"></script>

<script>
    $('#fade').popup({
		transition: 'all 0.3s',
	});
	$('#fadeLoading').popup({
		transition: 'all 0.3s',
		escape: false,
		blur: false
	});
	$.fn.popup.defaults.pagecontainer = '#wrapper'
</script>
</body>

</html>
