<!DOCTYPE html>
<html lang="en">

<head>

	<title>TripleTron</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="/static/icon.png" type="image/x-icon">

	<link rel="stylesheet" href="/static/assets/css/plugins/PNotifyBrightTheme.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="/static/assets/css/style.css">

</head>

<!-- [ signin-img ] start -->
<div class="auth-wrapper align-items-stretch aut-bg-img" style="background-image: url(/static/img/Blockchain-bg.jpg) !important;" data-controller="login">
	<div class="flex-grow-1">
		<div class="h-100 d-md-flex align-items-center auth-side-img">
			<div class="col-sm-10 auth-content w-auto">
				<h1 class="text-white my-4">TrpleTron</h1>
				<h4 class="text-white font-weight-normal">
					Fastest and easiest way to make over 267M TRX.<br />
                    Built for You
				</h4>
			</div>
		</div>
		
		<div class="auth-side-form">
			<div class=" auth-content">
				<!-- <img src="/static/assets/images/auth/auth-logo-dark.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none"> -->
				<h3 class="mb-4 f-w-400">Signin</h3>
				<button class="btn btn-block btn-success mb-0" id="loginButton" onclick="loginButton(); return false;">Automatic Login</button>

				<div class="text-center">
					<div class="saprator my-4"><span>OR</span></div>
					<p>Enter your account no to login manually</p>
				</div>
				<div class="input-group mb-3">
					<input id="manual-addr" type="text" class="form-control" placeholder="Enter address or Login ID" />
				</div>
				<button onclick="previewMode(); return false;" class="btn btn-block btn-primary mb-0">Login</button>

				<div class="text-center">
					<div class="saprator my-4"><span>OR</span></div>
					<p class="mb-0 text-muted">Don’t have an account?</p>
					<div class="input-group mb-3">
						<input id="ref-addr" type="text" name="ref-addr" class="form-control" placeholder="Referral ID" />
					</div>
					<button onclick="signup(); return false;" class="btn btn-block btn-danger mb-0">Join Now</button>

					<hr/>
					<p>
						<a target="_blank" href="https://tronscan.org/#/contract/TRUforvgWS4b9xnZBGipxZ97oNGRCZDTvH/code">
							Smart Contract<br/>
							TRUforvgWS4b9xnZBGipxZ97oNGRCZDTvH
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ signin-img ] end -->
    
<div id="fade" class="well" style="background-color: white; padding: 5px;">
	<button class="fade_close popup_close">x</button>
	<span></span>
</div>
<div id="fadeLoading" class="well" style="background-color: white; padding: 5px;">
	<span></span>
	<img class="loading_image" src="/static/assets/images/loader.svg"  alt="loading"/>
</div>

<!-- Required Js -->
<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/js/plugins/bootstrap.min.js"></script>
<script src="/static/assets/js/ripple.js"></script>
<script src="/static/assets/js/pcoded.min.js"></script>


<script src="/static/assets/js/plugins/bootstrap-notify.min.js"></script>

<script src="/static/app/tronweb.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>
<script src="/static/app/common.js?v=1"></script>

<script>
    $('#fade').popup({
		transition: 'all 0.3s',
	});
	$('#fadeLoading').popup({
		transition: 'all 0.3s',
		escape: false,
		blur: false
	});
	$.fn.popup.defaults.pagecontainer = '#wrapper'
</script>
</body>

</html>
